<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>

    <%- include('./partials/nav.ejs') %>
    
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at nunc fringilla, tempus lorem eu, cursus nulla. Cras aliquam tellus eget posuere tincidunt. Sed posuere mauris metus, sit amet ullamcorper justo molestie nec. Curabitur sed posuere urna, ultricies auctor</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at nunc fringilla, tempus lorem eu, cursus nulla. Cras aliquam tellus eget posuere tincidunt. Sed posuere mauris metus, sit amet ullamcorper justo molestie nec. Curabitur sed posuere urna, ultricies auctor</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at nunc fringilla, tempus lorem eu, cursus nulla. Cras aliquam tellus eget posuere tincidunt. Sed posuere mauris metus, sit amet ullamcorper justo molestie nec. Curabitur sed posuere urna, ultricies auctor</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>